<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Beer Styles</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Gabriela|Open+Sans' rel='stylesheet' type='text/css'>
  <!-- build:template
    <link rel="stylesheet" href="./css/result-<%= message %>.min.css">
    /build -->
  <!-- build:remove -->
  <link rel="stylesheet" href="./css/material.min.css">
  <link rel="stylesheet" href="./css/site.css">
  <!-- /build -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Progressive Beer - The ultimate guide to beer around the world.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!-- manifesty things -->
  <link rel="manifest" href="manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Progressive Beer">
  <meta name="apple-mobile-web-app-title" content="Progressive Beer">
  <meta name="theme-color" content="#ffe3ff">
  <meta name="msapplication-navbutton-color" content="#ffe3ff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/index.html">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" sizes="192x192" density="1" href="./images/beer-icon-192.png">
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" density="1" href="./images/beer-icon-192.png">
  <link rel="icon" type="image/png" sizes="144x144" density="1" href="./images/beer-icon-144.png">
  <link rel="apple-touch-icon" type="image/png" sizes="144x144" density="1" href="./images/beer-icon-144.png">
  <link rel="icon" type="image/png" sizes="240x240" density="1" href="./images/beer-icon-240.png">
  <link rel="apple-touch-icon" type="image/png" sizes="240x240" density="1" href="./images/beer-icon-240.png">
  <link rel="icon" type="image/png" sizes="96x96" density="1" href="./images/beer-icon-96.png">
  <link rel="apple-touch-icon" type="image/png" sizes="96x96" density="1" href="./images/beer-icon-96.png">
</head>

<body>
  <!-- header -->
  <div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent header-background-style">
      <div class="mdl-layout__header-row" style="border-bottom: .1rem solid hsla(0,0%,100%,.3);">
        <!-- Title -->
        <span class="mdl-layout-title title_width">
            <a class="hide_mobile" href="./">Progressive Beer</a>
            <img src="./images/beer-icon.svg" class="hide_desktop hide_tablet beer_icon">
          </span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link link_size" href="./index.html">Home</a>
          <a class="mdl-navigation__link link_size" href="./settings.html">Settings</a>
          <a class="mdl-navigation__link link_size" href="./about.html">About</a>
        </nav>
      </div>
      <div id="styleName" class="mdl-layout__header-row hero_title"></div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title"><a id="drawer" href="./index.html">Progressive Beer</a></span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="./index.html">Home</a>
        <a class="mdl-navigation__link" href="./settings.html">Settings</a>
        <a class="mdl-navigation__link" href="./about.html">About</a>
      </nav>
    </div>
    <!-- main div -->
    <main class="mdl-layout__content main_content beer_content">
      <!-- intro -->
      <div class="mdl-grid learn_title">This Beer's Style</div>
      <div class="mdl-grid learn_intro" id="styleDescription"></div>
      <!-- loading button -->
      <div class="mdl-grid" style="padding-top: 120px;" id="loading-button">
        <div class="mdl-cell mdl-cell--6-col"></div>
        <div class="mdl-cell mdl-cell--1-col">
          <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </div>
        <div class="mdl-cell mdl-cell--5-col"></div>
      </div>
      <div id="main" class="grid_padding"></div>
    </main>
    <!-- footer -->
    <footer class="mdl-mega-footer">
      <div class="mdl-mega-footer__middle-section">
        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">More Resources</h1>
          <ul class="mdl-mega-footer__link-list">
            <li>All data supplied by <a href="http://www.brewerydb.com/">BreweryDB</a></li>
            <li><a href="./">Home</a></li>
            <li><a href="./about.html">About</a></li>
          </ul>
        </div>
      </div>
      <div class="mdl-mega-footer__bottom-section">
        Made with ❤ by <a href="http://deanhume.com">DEAN HUME</a>
      </div>
    </footer>
  </div>
  <!-- toast notification -->
  <div id="offline-notification" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
  <!-- scripts -->
  <!-- build:template
    <script src="./js/style-<%= message %>.min.js"></script>
    /build -->
  <!-- build:remove -->
  <script src="./js/fetch.js"></script>
  <script async src="./js/style.js"></script>
  <script defer src="./js/material.min.js"></script>
  <!-- /build -->
  <script>
    // Register the service worker
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('./service-worker.js').then(function (registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }).catch(function (err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    }
    // Google Analytics
    (function (i, s, o, g, r, a, m) {    
i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-80219530-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>